body {
  font-family: "Roboto", sans-serif;
  margin: 60px;
  max-width: 600px;
}

h1 {
  padding-left: 20px;
}

.citynames {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}

.citydate {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
}

ul {
  padding-top: 5px;
  padding-left: 0;
  margin: 0;
  list-style-position: inside;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.temp {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  line-height: 50px;
  position: relative;
  top: -10px;
  left: 40px;
}

.tempNumber {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 500;
  color: slateblue;
}

.celcius {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: slateblue;
  position: relative;
  top: -15px;
  left: -20px;
}

.celcius .active {
  color: slateblue;
  cursor: default;
}

.celcius .active:hover {
  text-decoration: none;
}

.farenheit {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: slateblue;
  position: relative;
  top: -15px;
  left: -30px;
}

.farenheit .active {
  color: slateblue;
  cursor: default;
}

.farenheit .active:hover {
  text-decoration: none;
}

.temp-icon {
  position: relative;
  top: -10px;
  left: -40px;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: black;
}

.daysofweek {
  font-size: 20px;
  line-height: 35px;
  text-align: right;
  font-weight: 300;
  padding-right: 15px;
}

.weather-forecast {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.git-link {
  margin: 0;
  padding: 10;
  font-size: 10px;
}
